.Admin_page_container{
    display: flex;
    flex-direction: column;
    padding: 10%;
    background-color: blanchedalmond;
    width: 30%;
    padding: 10%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}

.Admin_page_container input {
    width: 50%;
    margin: auto;
}

.login_button {
    width:auto;
    margin: 10px auto;
}

.adminPage_tags_container{
    display: flex;
    flex-wrap: wrap;
}

.adminPage_tags {
    margin: 2px 2px;
    cursor: pointer;
    border: solid 1px black;
    padding: 2px;
}

.selected {
    background-color: black;
    color: green;
}

.unselected {
    background-color: lightgreen;
    color: black;
}

.adminPage_submit{
    font-size: 1.5rem;
}