.content_container {
    background-color: lightgoldenrodyellow;
    width: 100%;
    min-height: 100vh;
    border: 1px solid black;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.shadow {
    width: 90%;
    height:90%;
    background: rgba(255, 255, 255, 0.54);
    border-radius: 2rem;
    padding: auto;
    text-align: left;
    padding: 30px;
    margin: 30px auto;
}

.shadow * {
    display: block;
}

.shadow code{
    background: black;
    color: green;
    width: auto;
    white-space: break-spaces;
}